#ignoring vs folder
.vs/*

#ignoring bin folder
IOCExample/bin/*

#ignoring obj folder
IOCExample/obj/*

#ignoring tests bin folder
IOCExampleTests/bin*

#ignoring tests obj folder
IOCExampleTests/obj*